// Colours partial

// Text colours
$txt-primary: rgba(28, 54, 83, 0.6);
// body font
$txt-secondary: #3d4351;
// heading font
// $txt-light: #fff;
$txt-light: #f7f9fa;
// header/hero
$txt-accent: #c7c9cb;
$form-placeholder: #bcc1c3;
// form placeholder text
// Global colours
$accent-color: #39537d;
// global accent colour
$accent-color-hover: #0460f5;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3d4351;
$h3-color: #3d4351;
$h5-color: #3d4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3d4351;
$footer-secondary: #373d4a;
// Keylines
$keyline-color: #e6e9ea;
$footer-keyline-color: #4e566c;

// Additional
$bg-color: white;
$header-color: #3a5c92;
